body{
background: url(./pokefondo3.jpg);
font-family: 'Silkscreen', cursive;
}

h1{
    color: aliceblue;
    text-align: center;
}
.inputs{
    width: 200px;
    margin: 20px;
    align-items: center;
    display: flex;
    margin-left: 45%;
}

.boton {
    color: black;
    box-shadow: 5px;
    text-shadow: 5px;
    background-color: yellow;
    margin-top: 1px;
    margin-left: 3px;
}

.info-cards{
position: relative;
height: fit-content;
max-width: 300px;
border-radius: 5px;
color: black;
text-align: center;
padding: 10px;
margin: 0 auto;
background-color: aliceblue;
border: 1px solid black;
}
